<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--		<meta name="referrer" content="no-referrer" />-->
		<meta content="always" name="referrer" />
		<meta name="renderer" content="webkit" />
		<meta name="keywords" content="超级语言，秋米科技，人工智能，AI文生图">
		<meta name="theme-color" content="#000000" />
		<meta name="description"
					content="为用户提供的辅助创作工具，在这里您可以生成不同风格的创意画作，为创作带来更多创意，为您的想象力赋能！超级语言AI可提供服务内容有：AI对话、AI生图、AI修图、AI配音生成、AI视频生成等服务，后续提供的服务内容将随着业务发展逐渐增多，欢迎您登陆平台浏览和使用。">
		<meta property="og:title" content="秋米网络技术（北京）有限公司 - 超级语言">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="超级语言">
		<meta property="og:image" content="https://aigc.chaojiyuyan.cn/h5/static/img/logo.53dfad41.png">
		<meta property="og:url" content="https://aigc.chaojiyuyan.cn">
		<meta property="og:description"
					content="为用户提供的辅助创作工具，在这里您可以生成不同风格的创意画作，为创作带来更多创意，为您的想象力赋能！超级语言AI可提供服务内容有：AI对话、AI生图、AI修图、AI配音生成、AI视频生成等服务，后续提供的服务内容将随着业务发展逐渐增多，欢迎您登陆平台浏览和使用。">

		<meta name="format-detection" content="telphone=no, email=no" />
		<meta name="author" contect="root, pleasureswx123" />
		<meta http-equiv="Content-Language" content="zh-cn" />
		<meta http-equiv="Expires" content="0" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate" />
<!--		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />-->
		<meta http-equiv="Content-Security-Policy" content="<%= NODE_ENV === 'development' ? '' : 'upgrade-insecure-requests' %>" />
		<meta http-equiv="x-dns-prefetch-control" content="on" />
		<link rel="preconnect" href="//st-cn.chaojiyuyan.cn" crossorigin />
		<link rel="dns-prefetch" href="//st-cn.chaojiyuyan.cn" />
		<link rel="icon" type="image/jpg" href="./static/images/ic_ai.jpg" />
		<title>秋米科技-<%= htmlWebpackPlugin.options.title %></title>
		<!--<link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin />
		<link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" defer integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous" />-->
		<!-- Open Graph data -->
		<!-- <meta property="og:title" content="Title Here" />
		<meta property="og:url" content="http://www.example.com/" />
		<meta property="og:image" content="http://example.com/image.jpg" />
		<meta property="og:description" content="Description Here" /> -->

		<script>
			var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
			document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		<!-- <script>
			function getPcUrl() {
				let search = window.location.search;
				let hash = window.location.hash.replace('#/', '');
				let host = window.location.host;
				let path = hash;
				let query = '';
				if (hash.indexOf('?') !== -1) {
				  path = hash.split('?')[0];
				  query = hash.split('?')[1];
				}
				switch (path) {
				  case 'pages/write/index':
				  case 'pages/write/chat':
					path = 'write';
					break;
				  case 'pages/cosplay/index':
				  case 'pages/cosplay/chat':
					path = 'cosplay';
					break;
				  case 'pages/draw/chat':
					path = 'draw';
					break;
				  default:
					path = '';
				}
				let pcUrl = 'https://' + host + '/web/' + search + '#/';
				if (path) {
				  pcUrl += path;
				}
				if (query) {
				  pcUrl += '?' + query;
				}
				return pcUrl;
			}
			var ua = navigator.userAgent.toLowerCase();
			var isMobile = ua.match(/mobile/i);
			var isWechat = ua.match(/micromessenger/i) && !ua.match(/windows/i) && !ua.match(/macos/i) && !ua.match(/macwechat/i);
			var isWxapp = window.location.href.indexOf('pages/wxapp/') !== -1;
			if (!isWechat && !isWxapp && !isMobile) {
				// 非手机环境跳转走
				window.location.href = getPcUrl();
			}
		</script> -->
<!--		<script src="/web.php/login/lang"></script>-->
		<link rel="manifest" href="<%= BASE_URL %>static/json/manifest.json" />
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<!--<link rel="stylesheet" href="./two.css" media="(min-width: 1200px)">
		<link rel="stylesheet" href="./two.css" media="(min-width: 992px)">
		<link rel="stylesheet" href="./two.css" media="(min-width: 768px)">-->
		<script>
			const {search} = new URL(window.location.href);
			const params = new URLSearchParams(search);
			const from = params.get('from');
			if(from?.includes('baidu')) {
				window.fromSource = 'baidu';
				window._agl = window._agl || [];
				(function () {
					_agl.push(
							['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
					);
					(function () {
						const agl = document.createElement('script');
						agl.type = 'text/javascript';
						agl.async = true;
						agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
						const s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(agl, s);
					})();
				})();
			}
		</script>
	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
		<script type="text/javascript">
			window.$lang = 'zh-cn';
			window.HELP_IMPROVE_VIDEOJS = false;
			if ("serviceWorker" in navigator) {
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('./static/js/sw.js')
							.then(function (registration) {
								console.log('Service Worker 注册成功:', registration);
							}).catch(function (error) {
						// console.error('Service Worker 注册失败:', error);
					});
				})
			}
		</script>
		<script>
			window._hmt = window._hmt || [];
			(function() {
				const hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?f77d19f4ba8fc8633e25da6f5508db63";
				const s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>

		<script type="module">
			(() => {
				const indexedDBReq = indexedDB.open('MyDatabase', 2);
				indexedDBReq.onerror = function (event) {
					console.error('数据库打开失败');
				};
				indexedDBReq.onsuccess = function (event) {
					const db = event.target.result;
					function insertData(dataList) {
						const transaction = db.transaction(['Room'], 'readwrite');
						const objectStore = transaction.objectStore('Room');
						// 遍历数据列表，为每个数据项自动增加 id 并插入到对象存储空间
						dataList.forEach(function (data) {
							objectStore.add(data);
							// objectStore.put(Object.assign({}, data, {
							// 	// id: performance.now().toString().replace('.', '') + Math.random().toString(36).substr(2, 9)
							// }));
						});
						transaction.oncomplete = function (event) {
							console.log('数据添加成功');
						};
						transaction.onerror = function (event) {
							console.error('数据添加失败');
						};
					}
					function updateData(newData) {
						const transaction = db.transaction(['Room'], 'readwrite');
						const objectStore = transaction.objectStore('Room');
						const indexedDBReq = objectStore.put(newData);
						indexedDBReq.onsuccess = function (event) {
							console.log('数据更新成功');
						};
						indexedDBReq.onerror = function (event) {
							console.error('数据更新失败');
						};
					}
					function deleteData(id) {
						const transaction = db.transaction(['Room'], 'readwrite');
						const objectStore = transaction.objectStore('Room');
						// 使用键值删除数据项
						const indexedDBReq = objectStore.delete(id);
						indexedDBReq.onsuccess = function (event) {
							console.log('成功删除数据项');
						};
					}
					function queryAllData() {
						return new Promise(function (resolve, reject) {
							const transaction = db.transaction(['Room'], 'readonly');
							const objectStore = transaction.objectStore('Room');
							const getAllRequest = objectStore.getAll();
							getAllRequest.onsuccess = function (event) {
								const allData = getAllRequest.result;
								resolve(allData)
							};
							getAllRequest.onerror = function (event) {
								console.error('查询失败');
							};
						});
					}
					function queryDataByKey(id) {
						return new Promise(function (resolve, reject) {
							const transaction = db.transaction(['Room'], 'readonly');
							const objectStore = transaction.objectStore('Room');
							// 使用键值获取数据项
							const getRequest = objectStore.get(id);
							getRequest.onsuccess = function (event) {
								const data = event.target.result;
								resolve(data);
							};
							getRequest.onerror = function (event) {
								reject('查询数据失败');
							};
						});
					}
					function clearData() {
						const transaction = db.transaction(['Room'], 'readwrite');
						const objectStore = transaction.objectStore('Room');
						const indexedDBReq = objectStore.clear();
						indexedDBReq.onsuccess = function (event) {
							console.log('数据清除成功');
						};
						indexedDBReq.onerror = function (event) {
							console.error('数据清除失败');
						};
					}
					clearData();
					insertData([
						{id: 1, name: 'John343', age: 30},
						{id: 2, name: 'Tom', age: 28},
						{id: 3, name: 'Lili', age: 26},
						{id: 4, name: 'Lili', age: 26},
					]);
					updateData({id: 5, name: 'rrrr', age: 30})
					deleteData(3);
					insertData([{id: 3, name: 'wang', age: 26}])
					queryDataByKey(2).then(res => {
						console.log(res)
					})
					queryAllData().then(res => {
						console.log(res)
					})
				};
				indexedDBReq.onupgradeneeded = function (event) {
					const db = event.target.result;
					if (!db.objectStoreNames.contains('Room')) {
						// autoIncrement: true
						const objectStore = db.createObjectStore('Room', {keyPath: 'id'});
						objectStore.createIndex('nameIndex', 'name', {unique: false});
						objectStore.createIndex('ageIndex', 'age', {unique: false});
					}
					console.log('数据库升级完成，且成功创建了名为 "Room" 的对象存储空间');
				};
			})()
		</script>
	</body>
</html>