<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--		<meta name="referrer" content="no-referrer" />-->
		<meta name="renderer" content="webkit">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="author" contect="root, pleasureswx123@163.com" />
		<meta http-equiv="Content-Language" content="zh-cn"/>
		<link rel="icon" type="image/jpg" href="./static/images/ic_ai.jpg" />
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<!-- Open Graph data -->
		<!-- <meta property="og:title" content="Title Here" />
		<meta property="og:url" content="http://www.example.com/" />
		<meta property="og:image" content="http://example.com/image.jpg" />
		<meta property="og:description" content="Description Here" /> -->
		<script>
			var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
			document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		
		<!-- <script>
			function getPcUrl() {
				let search = window.location.search;
				let hash = window.location.hash.replace('#/', '');
				let host = window.location.host;
				let path = hash;
				let query = '';
				if (hash.indexOf('?') !== -1) {
				  path = hash.split('?')[0];
				  query = hash.split('?')[1];
				}
				switch (path) {
				  case 'pages/write/index':
				  case 'pages/write/chat':
					path = 'write';
					break;
				  case 'pages/cosplay/index':
				  case 'pages/cosplay/chat':
					path = 'cosplay';
					break;
				  case 'pages/draw/chat':
					path = 'draw';
					break;
				  default:
					path = '';
				}
		
				let pcUrl = 'https://' + host + '/web/' + search + '#/';
				if (path) {
				  pcUrl += path;
				}
				if (query) {
				  pcUrl += '?' + query;
				}
		
				return pcUrl;
			}
			
			var ua = navigator.userAgent.toLowerCase();
			var isMobile = ua.match(/mobile/i);
			var isWechat = ua.match(/micromessenger/i) && !ua.match(/windows/i) && !ua.match(/macos/i) && !ua.match(/macwechat/i);
			var isWxapp = window.location.href.indexOf('pages/wxapp/') !== -1;
			if (!isWechat && !isWxapp && !isMobile) {
				// 非手机环境跳转走
				window.location.href = getPcUrl();
			}
		</script> -->
		<script src="/web.php/login/lang"></script>
		<link rel="manifest" href="<%= BASE_URL %>static/json/manifest.json" />
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<!--<link rel="stylesheet" href="./two.css" media="(min-width: 1200px)">
		<link rel="stylesheet" href="./two.css" media="(min-width: 992px)">
		<link rel="stylesheet" href="./two.css" media="(min-width: 768px)">-->
	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.</strong>
		</noscript>
		<div id=""></div>
		<div id="app"></div>
		<!-- built files will be auto injected -->
		<script type="text/javascript">
			if ("serviceWorker" in navigator && 'PushManager' in window ) {
				window.addEventListener('load', async () => {
					navigator.serviceWorker.register("./static/js/sw.js").then(function (registration) {
					});
				})
			}
		</script>
		<script type="text/javascript">
			// window.initVideoToCanvas = function (src) {
			// 	// 创建 video 元素
			// 	const video = document.createElement('video');
			// 	// 设置视频源
			// 	video.src = src;
			// 	// 设置循环播放
			// 	video.loop = true;
			// 	// 设置静音
			// 	video.muted = true;
			// 	// 设置 crossOrigin 属性
			// 	video.crossOrigin = 'anonymous';
			// 	// 隐藏 video 元素
			// 	video.style.display = 'none';
			// 	// 添加到 body 中
			// 	const canvasVideoBox = document.getElementById('canvasVideoBox');
			// 	const { width, height } = canvasVideoBox.getBoundingClientRect();
			// 	canvasVideoBox.appendChild(video);
			// 	// 创建 canvas 元素
			// 	const canvas = document.createElement('canvas');
			// 	// 获取 2D 上下文
			// 	const ctx = canvas.getContext('2d');
			// 	// 设置 canvas 大小
			// 	canvas.width = width;
			// 	canvas.height = height;
			// 	// 添加到 body 中
			// 	canvasVideoBox.appendChild(canvas);
			// 	// 检测是否可以自动播放
			// 	let isAutoPlayEnabled = false;
			// 	function checkAutoPlay() {
			// 		if (video.paused && (video.currentTime <= 0 || video.currentTime >= video.duration - 1)) {
			// 			// 视频已准备就绪，但仍处于暂停状态
			// 			isAutoPlayEnabled = true;
			// 			// 开始播放视频
			// 			video.play();
			// 		}
			// 	}
			// 	// 监听视频加载完成事件
			// 	video.addEventListener('loadeddata', function () {
			// 		// 检测是否可以自动播放
			// 		checkAutoPlay();
			// 	});
			// 	// 监听页面点击事件
			// 	document.addEventListener('mousedown', function () {
			// 		// 如果自动播放未启用，则尝试启用
			// 		if (!isAutoPlayEnabled) {
			// 			video.play();
			// 		}
			// 	});
			// 	// document.addEventListener('touchstart', function () {
			// 	// 	// 如果自动播放未启用，则尝试启用
			// 	// 	if (!isAutoPlayEnabled) {
			// 	// 		video.play();
			// 	// 	}
			// 	// });
			// 	// 渲染视频到 canvas
			// 	function renderVideo() {
			// 		// 在每一帧渲染前清空 canvas
			// 		ctx.clearRect(0, 0, canvas.width, canvas.height);
			// 		// 绘制视频帧到 canvas
			// 		ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
			// 		// 请求下一帧渲染
			// 		requestAnimationFrame(renderVideo);
			// 	}
			// 	// 开始渲染视频
			// 	renderVideo();
			// }
		</script>
	</body>
</html>