@font-face {
  font-family: "iconfont-qm"; /* Project id 4418983 */
  src: url('@/static/iconfont/iconfont.ttf?t=1708937645231') format('truetype');
}

.iconfont-qm {
  font-family: "iconfont-qm" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qm-undo:before {
  content: "\e705";
}

.icon-qm-undo1:before {
  content: "\e706";
}

.icon-qm-brush:before {
  content: "\e6fc";
}

.icon-qm-brush1:before {
  content: "\e6fd";
}

.icon-qm-brush2:before {
  content: "\e6fe";
}

.icon-qm-brush3:before {
  content: "\e6ff";
}

.icon-qm-brush4:before {
  content: "\e700";
}

.icon-qm-brush5:before {
  content: "\e701";
}

.icon-qm-brush6:before {
  content: "\e702";
}

.icon-qm-brush7:before {
  content: "\e703";
}

.icon-qm-brush8:before {
  content: "\e704";
}

.icon-qm-brush9:before {
  content: "\e6f5";
}

.icon-qm-sync:before {
  content: "\e6f6";
}

.icon-qm-hand:before {
  content: "\e6f7";
}

.icon-qm-editpen:before {
  content: "\e6f8";
}

.icon-qm-hand1:before {
  content: "\e6f9";
}

.icon-qm-eraser:before {
  content: "\e6fa";
}

.icon-qm-hand2:before {
  content: "\e6fb";
}

.icon-qm-warning11:before {
  content: "\e6f1";
}

.icon-qm-scan:before {
  content: "\e6f2";
}

.icon-qm-editsquare:before {
  content: "\e6f3";
}

.icon-qm-arr-l:before {
  content: "\e6f4";
}

.icon-qm-wechatstroke:before {
  content: "\e6e6";
}

.icon-qm-editoutline:before {
  content: "\e6e7";
}

.icon-qm-scanbold:before {
  content: "\e6e8";
}

.icon-qm-good:before {
  content: "\e6e9";
}

.icon-qm-wechatfill:before {
  content: "\e6ea";
}

.icon-qm-wechatpay:before {
  content: "\e6eb";
}

.icon-qm-editnote:before {
  content: "\e6ec";
}

.icon-qm-pending:before {
  content: "\e6ed";
}

.icon-qm-unchecked:before {
  content: "\e6ee";
}

.icon-qm-scanoutlined:before {
  content: "\e6ef";
}

.icon-qm-checked1:before {
  content: "\e6f0";
}

.icon-qm-flashfill:before {
  content: "\e6e2";
}

.icon-qm-flashline:before {
  content: "\e6e3";
}

.icon-qm-vip1:before {
  content: "\e6e4";
}

.icon-qm-flash3:before {
  content: "\e6e5";
}

.icon-qm-flash2:before {
  content: "\e6de";
}

.icon-qm-flash1:before {
  content: "\e6df";
}

.icon-qm-vip:before {
  content: "\e6e0";
}

.icon-qm-flash:before {
  content: "\e6e1";
}

.icon-qm-text1:before {
  content: "\e6dc";
}

.icon-qm-txt:before {
  content: "\e6dd";
}

.icon-qm-chat1:before {
  content: "\e6d0";
}

.icon-qm-chat:before {
  content: "\e6d1";
}

.icon-qm-off:before {
  content: "\e6d2";
}

.icon-qm-privacy:before {
  content: "\e6d3";
}

.icon-qm-exit:before {
  content: "\e6d4";
}

.icon-qm-text2:before {
  content: "\e6d5";
}

.icon-qm-listbox:before {
  content: "\e6d6";
}

.icon-qm-call:before {
  content: "\e6d7";
}

.icon-qm-msgchat:before {
  content: "\e6d8";
}

.icon-qm-account:before {
  content: "\e6d9";
}

.icon-qm-privacy1:before {
  content: "\e6da";
}

.icon-qm-dialog:before {
  content: "\e6db";
}

.icon-qm-MaterialSymbolsVideoCallRounded:before {
  content: "\e6c5";
}

.icon-qm-MaterialSymbolsVideocamRounded:before {
  content: "\e6c6";
}

.icon-qm-MaterialSymbolsAndroidCamera:before {
  content: "\e6c7";
}

.icon-qm-MaterialSymbolsAutoDetectVoice:before {
  content: "\e6c8";
}

.icon-qm-MaterialSymbolsLinkedCameraRounded:before {
  content: "\e6c9";
}

.icon-qm-StreamlineVoiceMailSolid:before {
  content: "\e6ca";
}

.icon-qm-MaterialSymbolsVideoCameraBackRounded:before {
  content: "\e6cb";
}

.icon-qm-MaterialSymbolsCameraVideo:before {
  content: "\e6cc";
}

.icon-qm-MaterialSymbolsAddAPhotoRounded:before {
  content: "\e6cd";
}

.icon-qm-MaterialSymbolsLightAddAPhoto:before {
  content: "\e6ce";
}

.icon-qm-MdiImageEdit:before {
  content: "\e6cf";
}

.icon-qm-MaterialSymbolsMenuBook:before {
  content: "\e6be";
}

.icon-qm-MaterialSymbolsPhotoCameraFront:before {
  content: "\e6bf";
}

.icon-qm-MaterialSymbolsChatOutlineRounded:before {
  content: "\e6c0";
}

.icon-qm-MaterialSymbolsPhotoLibraryRounded:before {
  content: "\e6c1";
}

.icon-qm-IcRoundModelTraining:before {
  content: "\e6c2";
}

.icon-qm-GgDigitalocean:before {
  content: "\e6c3";
}

.icon-qm-MaterialSymbolsPermCameraMicRounded:before {
  content: "\e6c4";
}

.icon-qm-warning1:before {
  content: "\e6b6";
}

.icon-qm-arrowdown2:before {
  content: "\e6b7";
}

.icon-qm-arrowdown1:before {
  content: "\e6b8";
}

.icon-qm-arrowdown:before {
  content: "\e6b9";
}

.icon-qm-plus:before {
  content: "\e6ba";
}

.icon-qm-del:before {
  content: "\e6bb";
}

.icon-qm-delfill:before {
  content: "\e6bc";
}

.icon-qm-arr-rt:before {
  content: "\e6bd";
}

.icon-qm-copy5:before {
  content: "\e6b5";
}

.icon-qm-check:before {
  content: "\e6b4";
}

.icon-qm-checked:before {
  content: "\e6b3";
}

.icon-qm-speaker2:before {
  content: "\e69d";
}

.icon-qm-wave2:before {
  content: "\e6af";
}

.icon-qm-speaker1:before {
  content: "\e6b0";
}

.icon-qm-speaker:before {
  content: "\e6b1";
}

.icon-qm-wave:before {
  content: "\e6b2";
}

.icon-qm-send:before {
  content: "\e6ae";
}

.icon-qm-refresh:before {
  content: "\e697";
}

.icon-qm-eye:before {
  content: "\e698";
}

.icon-qm-refresh1:before {
  content: "\e699";
}

.icon-qm-copy:before {
  content: "\e69a";
}

.icon-qm-download11:before {
  content: "\e69b";
}

.icon-qm-eyerefresh:before {
  content: "\e69c";
}

.icon-qm-copy1:before {
  content: "\e69e";
}

.icon-qm-redeye:before {
  content: "\e69f";
}

.icon-qm-copy-paste:before {
  content: "\e6a0";
}

.icon-qm-copy2:before {
  content: "\e6a1";
}

.icon-qm-copy3:before {
  content: "\e6a2";
}

.icon-qm-play:before {
  content: "\e6a3";
}

.icon-qm-play1:before {
  content: "\e6a4";
}

.icon-qm-hourglass:before {
  content: "\e6a5";
}

.icon-qm-wave1:before {
  content: "\e6a6";
}

.icon-qm-comment:before {
  content: "\e6a7";
}

.icon-qm-soundwave:before {
  content: "\e6a8";
}

.icon-qm-volume:before {
  content: "\e6a9";
}

.icon-qm-copy4:before {
  content: "\e6aa";
}

.icon-qm-eye1:before {
  content: "\e6ab";
}

.icon-qm-hourglass1:before {
  content: "\e6ac";
}

.icon-qm-volumeup:before {
  content: "\e6ad";
}

.icon-qm-downarrow:before {
  content: "\e68c";
}

.icon-qm-eye2:before {
  content: "\e68d";
}

.icon-qm-favorite:before {
  content: "\e68e";
}

.icon-qm-msg:before {
  content: "\e68f";
}

.icon-qm-eye3:before {
  content: "\e690";
}

.icon-qm-notes:before {
  content: "\e691";
}

.icon-qm-heart:before {
  content: "\e692";
}

.icon-qm-eyecircle:before {
  content: "\e693";
}

.icon-qm-eyecircle1:before {
  content: "\e694";
}

.icon-qm-eye4:before {
  content: "\e695";
}

.icon-qm-copy6:before {
  content: "\e696";
}

.icon-qm-eyeclosed:before {
  content: "\e68b";
}

.icon-qm-warning:before {
  content: "\e689";
}

.icon-qm-arrow-right:before {
  content: "\e68a";
}

.icon-qm-close:before {
  content: "\e681";
}

.icon-qm-tips:before {
  content: "\e682";
}

.icon-qm-eye-closed:before {
  content: "\e683";
}

.icon-qm-download:before {
  content: "\e684";
}

.icon-qm-eye-closed-1:before {
  content: "\e685";
}

.icon-qm-tips-1:before {
  content: "\e686";
}

.icon-qm-download-1:before {
  content: "\e687";
}

.icon-qm-help:before {
  content: "\e688";
}

.icon-qm-loading:before {
  content: "\e680";
}

.icon-qm-upload:before {
  content: "\e67f";
}

.icon-qm-loading-1:before {
  content: "\e67e";
}

